﻿@model IList<SywApplicationWireframe.Web.UI.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MobileLayoutPage.cshtml";
}
@{
    const string messageBody = "Happy Birthday!";
}
<h2>Upcoming birthdays</h2>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<div class="wrapper">
    @if (Model.Count == 0)
    {
        <p>There are no birthdays coming up for the next 2 months! Come back in a few days to check again or go make some new friends! :)</p>
    }
    else
    {
        foreach (var friend in Model)
        {
            if (friend.WishList == null || friend.WishList.Count == 0)
            {
                continue;
            }
            var someProduct = @friend.WishList.First();
            
        <div class="suggestion">
            <div class="userInfo">
                <img class="user" onclick="Platform.Profile.openQuickView(@friend.UserId)" alt="@friend.Name image" src="@friend.ImageUrl" />
                <p class="birthdayText">It's <b>@friend.Name</b> birthday in @friend.DaysTillBirthday days!</p>
            </div>
            <div class="product">
                <img class="productImg" onclick="Platform.Product.Open(@someProduct.Id)" alt="@someProduct.Name" src="@someProduct.ImageUrl"/>
                <p class="productText"><b>@friend.Name</b> wishes this cool @someProduct.Name for his birthday.</p>
                
            </div>
            <div class="priceText">
                <p class="priceText">It cost only <b>@someProduct.Price$</b></p>
            </div>
            <div class="actions">
@*                <div class="action">*@
@*                    <img class="actionImage" alt="Cart" src="https://www.surfconnect.com/sc/images/layout/add-to-cart.png"/>*@
@*                    <p class="actionText">Add to Cart!</p>*@
@*                </div>*@
                <div class="action" id="showWishList" onclick="openDialog('@friend.Name', @friend.WishListCatalogId)">
                    <img class="actionImage" alt="wishlist" src="http://komarov.mobi/wp-content/uploads/2012/01/tp-gift-icon.png"/>
                    <p class="actionText">Show @friend.Name's wishlist!</p>
                </div>
                <div class="action" id="sendMessage" onclick="Platform.Messages.send(@friend.UserId, '@messageBody')">
                    <img class="actionImage" alt="message" src="http://www.eztransition.com/gui/images/icons/png/48x48px/yellow_mail.png"/>
                    <div class="actionText">
                         <p class="actionText">Send @friend.Name a birthday message</p>
                    </div>
                   
                </div>
            </div>    
                
        </div>
       
        
        }
    }
    
       
                
   
</div>
 <script type="text/javascript">
    
        function openDialog(name, catalogId){
            window.Platform.Dialog.open({ url: "index?id="+catalogId, title: name + "'s wishlist", size: { width: 800, height: 450 } });
        }
        </script>

