﻿body { font-family: Trebuchet MS;}

.bold { font-weight: bold}

.error { color: red }

.example { border: 3px solid black }

#main  {margin-bottom: 50px}

img.user {
      max-width: 20%;
            height: auto;
            float: left;
            overflow: auto;
         
}
.birthdayText {
    margin: 10px 10px 10px 10px;
}

div.product { clear: both; margin-top: 5px}
img.productImg { height: 20%; width:20%;margin-right: 10px;float: left; cursor: pointer}
img.actionImage { overflow: auto;float: left;margin: 0px 10px 0px 10px; height:30px}
.suggestion { border-style: solid;border: 1px solid #222222;float: left;width: 100%;}
.actions { clear: both; margin-top: 10px}
.action { clear: both; cursor: pointer}
p.actionText {  line-height: 25px;}
div.actionText { width: 80%;}
p.priceText { clear: both; margin-left: 10px}

