﻿body { font-family: Trebuchet MS;}

.bold { font-weight: bold}

.error { color: red }

.example { border: 3px solid black }

#title {margin-left: 20px}
#main { margin-left: 20px; margin-bottom: 50px}

img.user { height: 300px; width: 300px;overflow: auto; cursor: pointer}
img.productImg { height: 150px; width:150px;margin-right: 10px;float: left; cursor: pointer}
img.actionImage { overflow: auto;float: left;margin: 0px 10px 0px 10px; height:30px}
.suggestion { border-style: solid;border: 1px solid #222222;float: left;width: 300px; margin-right: 5px}
.actions { clear: both; margin-top: 10px}
.action { clear: both; cursor: pointer}
p.actionText {  line-height: 25px;}
div.actionText { width: 80%;}
p.priceText { clear: both; margin-left: 10px}

.birthdayText { margin: 0px 5px 0px 5px}