﻿@using SywApplicationWireframe.Domain.Configuration
<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
    <script type="text/javascript" src="@Html.Raw(new PlatformSettings().SywWebSiteUrl.ToString())/platform/loader"></script>
    <script type="text/javascript" src="http://sandbox.shopyourway.com/platform/mobile/loader " ></script>
    <link href="@Url.Content("~/static/css/Site.css")" rel="stylesheet" type="text/css" />
	<script src="@Url.Content("~/static/js/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
    <body>
        <div class="page">
            <div id="header">
                <div id="title">
                    <h1>Birthday Suggestor app</h1>
                </div>
            </div>
            <div id="main">
                @RenderBody()
            </div>
            <div id="footer">
            </div>
        </div>
        
    </body>
    
</html>
